<html>

<head>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="/static/material-icons.css">
  <link rel="stylesheet" href="/static/material.min.css">
  <script defer src="/static/material.min.js"></script>
  <script src="/static/jquery.min.js"></script>
  <link rel="stylesheet" href="/static/page.css">
  <script src="/static/page.js"></script>

</head>


<body>

  <!-- Always shows a header, even in smaller screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">ShitPosting 9001</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
      </div>
    </header>
    {{ with .Dirs }}
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Title</span>
      <nav class="mdl-navigation">
        {{ range . }}
        <a class="mdl-navigation__link" href="{{.}}">
          <i class="material-icons">folder</i>
          {{- . -}}
        </a>
        {{ end }}
      </nav>
    </div>
    {{ end }}
    <main class="mdl-layout__content">

      <div id="image-container" class="image-container">

        {{range .Files}}
        <img class="image-card mdl-shadow--2dp" src="/thumb{{.}}.jpg"
          data-original="{{.}}" alt="{{.}}">
        {{end}}

      </div>
      <div id="preview-container">
        <img id="preview-pane">
        <div id="preview-caption"></div>
      </div>

    </main>
  </div>
</body>


</html>